<!-- ======= Why Us Section ======= -->
<section id="why-us" class="why-us">
  <div class="container" data-aos="fade-up">
    <div class="section-title">
      <h1>The Recipes</h1>
      <ul *ngIf="selectedRecipe == null">
        <li *ngFor="let recipe of recipes">
          <div class='card-body'>
            <div class="row">
              <div class="col-lg-4 mt-4 mt-lg-0">
                <div class="box" data-aos="zoom-in" data-aos-delay="100">
                  <h4>{{ recipe.title }}</h4>
                  <img class="show-image" [src]="recipe.image_url" :alt="recipe.title" />
                  <p><button type="button" class="btn btn-outline-primary book-a-table-btn"    (click)="handleMoreInfoClick(recipe)">More Info</button></p>
                </div>
              </div>
              </div>
          </div>
        </li>
      </ul>
      <div class="btns mt-4">
        <a href="/recipes/new" class="btn-menu animated fadeInUp scrollto">Add a Recipe</a>
      </div>
    </div>
    </div>
   <div *ngIf="selectedRecipe != null">
      <app-recipe-card [recipe]="selectedRecipe"></app-recipe-card>
      <button class="btn btn-outline-secondary"
style="width:80px"
(click)="onBack()">
<i class="fa fa-chevron-left"></i> Back to Recipe </button>
   </div>

</section>
<!-- End Why Us Section -->




