<section id="hero" class="d-flex align-items-center hero-image">
  <div class="container position-relative text-center text-lg-start">
    <div class="row">
      <div class="col-lg-8">
        <h1>
          Welcome to
          <span>Brews + Bites</span>
        </h1>
        <h2>Everything's Better With Beer</h2> 
        <div class="btns mt-6">
          <nav>
              <ul>
                <li><a routerLink="/login" routerLinkActive="active" ariaCurrentWhenActive="page">Login</a></li>
                <li><a routerLink="/signup" routerLinkActive="active" ariaCurrentWhenActive="page">Sign Up</a></li>
                <!-- <li><a routerLink="/recipe" routerLinkActive="active" ariaCurrentWhenActive="page">Recipes</a></li> -->
              </ul>
            </nav>
        </div>
      </div>
    </div> 
  </div>
</section>
