<div class='card-body'>
    <div class='card-header'>
     {{ beers?.beerName }}
      <div class="d-flex">
        <img class="show-image" v-bind:src="beer.image_url" :alt="beer.name" />
        <div class="d-flex flex-wrap flex-row flex-sm-column justify-content-between-show-content">
          <p>
            <span class="gold">Style:</span>
            {{ beers?.beerStyle }}
          </p>
          <p>
            <span class="gold">Description:</span>
            {{ beers?.beerDescription }}
          </p>
          
        </div>
      </div>
    </div>
  </div>
