<div class='card-body'>
    <div class='card-header'>
      {{pageTitle + ': ' + beer?.beerId}}
      <div class="d-flex">
        <img class="show-image" [src]="beer?.image_url" :alt="beer.name" />
        <div class="d-flex flex-wrap flex-row flex-sm-column justify-content-between-show-content">
          <p>
            <span class="gold">Style:</span>
            <input type="text"
                 [value]="beer?.style"
                 Beer.style="string"/>
          </p>
          <p>
            <span class="gold">Description:</span>
            <input type="text"
                 [value]="beer?.description"
                 description="text"
                 />
          </p>
          
        </div>
      </div>
    </div>
  </div>
