<header id="header" class="fixed-top d-flex align-items-cente">
  <div class="container-fluid container-xl d-flex align-items-center justify-content-lg-between">
    <h1 class="logo me-auto me-lg-0"><a href="/">Brews + Bites</a></h1>
    <!-- Uncomment below if you prefer to use an image logo -->
    <!-- <a href="index.html" class="logo me-auto me-lg-0"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

    <nav id="navbar" class="navbar order-last order-lg-0">
      <ul>
        <!-- <li><a class="nav-link active" href="/">Home</a></li> -->
        <li *ngIf="isNavbarLoggedIn()"><a routerLink="/welcome" routerLinkActive="active" ariaCurrentWhenActive="page">Home</a>
      </li>
        <li *ngIf="isNavbarLoggedIn()"><a routerLink="/recipe" routerLinkActive="active" ariaCurrentWhenActive="page">Recipes</a>
        </li>
      
        <li *ngIf="isNavbarLoggedIn()"><a routerLink="/beer" routerLinkActive="active" ariaCurrentWhenActive="page">Beers</a></li>
        <li *ngIf="isNavbarLoggedIn()">
          <a (click)="logout()" class="nav-link">Logout</a>
        </li>

        <li *ngIf="!isNavbarLoggedIn()"><a class="nav-link" href="/login">Login</a></li>
        <li *ngIf="!isNavbarLoggedIn()"><a class="nav-link" href="/signup">Signup</a></li>
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav>
    <!-- .navbar -->
  </div>
</header>
  <!-- The routed views render in the <router-outlet>-->
  <router-outlet></router-outlet>